Source: zijung-configure
Section: misc
Priority: optional
Maintainer: Zijung Chueh <i@zijung.me>
Build-Depends:
 debhelper (>= 11),
Standards-Version: 4.1.3
Homepage: https://github.com/zijung/zijung-configure
Vcs-Browser: https://github.com/zijung/zijung-configure
Vcs-Git: https://github.com/zijung/zijung-configure.git

Package: zijung-libinput
Architecture: all
Depends:
 xserver-xorg-input-libinput,
Description: My configure files of libinput

Package: zijung-nvidia-graphics
Architecture: all
Depends:
 nvidia-driver,
Description: My configure files of nvidia graphics

Package: zijung-x11-common
Architecture: all
Depends:
 x11-common,
Description: My configure files of x11

Package: zijung-sudo
Architecture: all
Depends:
 sudo,
Description: My configure files of sudo

Package: zijung-noto
Architecture: all
Depends:
 fonts-noto,
Description: My configure files of fonts-noto

Package: zijung-lightdm
Architecture: all
Depends:
 desktop-base,
 lightdm,
Description: My configure files of lightdm

Package: zijung-lightdm-mbp
Architecture: all
Depends:
 zijung-lightdm,
Description: My configure files of lightdm for mbp

Package: zijung-lightdm-gtk-greeter
Architecture: all
Depends:
 desktop-base,
 lightdm,
Description: My configure files of lightdm-gtk-greeter

Package: zijung-slick-greeter
Architecture: all
Depends:
 slick-greeter,
Description: My configure files of slick-greeter

Package: zijung-disable-xhc-wake
Architecture: all
Description: My configure files to disable xhc wake

Package: zijung-plasma-desktop
Architecture: all
Depends:
  kde-plasma-desktop,
  plasma-nm,
  plasma-applet-redshift-control,
  sddm-theme-debian-breeze,
  breeze-blurred,
  materia-gtk-theme,
  papirus-icon-theme,
  latte-dock,
  fcitx-rime,
  fcitx-skin-material,
  firefox,
  firefox-l10n-zh-tw,
Description: My configure files of plasma desktop

Package: zijung-google-chrome
Architecture: all
Depends:
 fonts-noto-color-emoji,
Description: My configure files of google-chrome
