Source: zsien-configuration
Section: misc
Priority: optional
Maintainer: zsien <i@zsien.cn>
Build-Depends:
 debhelper-compat (= 12),
Standards-Version: 4.4.0
Homepage: https://github.com/zsien/zsien-configuration
Vcs-Browser: https://github.com/zsien/zsien-configuration
Vcs-Git: https://github.com/zsien/zsien-configuration.git

Package: zsien-libinput
Architecture: all
Depends:
 xserver-xorg-input-libinput,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My configure files of libinput
 Configure files of libinput.

Package: zsien-nvidia-graphics
Architecture: all
Depends:
 nvidia-driver,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My configure files of nvidia graphics
 Configure files of nvidia graphics.

Package: zsien-x11-common
Architecture: all
Depends:
 x11-common,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My configure files of x11
 Configure files of x11.

Package: zsien-sudo
Architecture: all
Depends:
 sudo,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My configure files of sudo
 Configure files of sudo.

Package: zsien-fontconfig
Architecture: all
Depends:
 fonts-noto,
 fonts-noto-cjk,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My configure files of fontconfig
 Configure files of fontconfig.

Package: zsien-lightdm
Architecture: all
Depends:
 desktop-base,
 lightdm,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My configure files of lightdm
 Configure files of lightdm.

Package: zsien-lightdm-hidpi
Architecture: all
Depends:
 zsien-lightdm,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My configure files of lightdm for HiDPI
 Configure files of lightdm for HiDPI

Package: zsien-lightdm-gtk-greeter
Architecture: all
Depends:
 desktop-base,
 lightdm,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My configure files of lightdm-gtk-greeter
 Configure files of lightdm-gtk-greeter.

Package: zsien-slick-greeter
Architecture: all
Depends:
 slick-greeter,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My configure files of slick-greeter
 Configure files of slick-greeter.

Package: zsien-disable-xhc-wake
Architecture: all
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Description: My configure files to disable xhc wake
 Configure files to disable xhc wake.

Package: zsien-plasma-desktop
Architecture: all
Depends:
 breeze-blurred,
 firefox,
 firefox-l10n-zh-tw,
 kde-plasma-desktop,
 libappindicator3-1,
 materia-gtk-theme,
 papirus-icon-theme,
 plasma-applet-redshift-control,
 plasma-nm,
 sddm-theme-debian-breeze,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My configure files of plasma desktop
 Configure files of plasma desktop.

Package: zsien-google-chrome
Architecture: all
Depends:
 fonts-noto-color-emoji,
 google-chrome-apt-source,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My configure files of google-chrome
 Configure files of google-chrome.

Package: zsien-c++-dev
Architecture: all
Depends:
 clang,
 clang-format,
 clangd,
 cmake,
 lldb,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My meta-package of c++ development environment
 Meta-package of c++ development environment.

Package: zsien-qt-dev
Architecture: all
Depends:
 qml-module-qtquick-controls2,
 qt5-default,
 qtcreator,
 qtdeclarative5-dev,
 ${misc:Depends},
 ${shlibs:Depends},
Description: My meta-package of qt development environment
 Meta-package of qt development environment.
